<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expired</key>
	<dict/>
	<key>valid</key>
	<dict/>
	<key>invalid</key>
	<dict>
		<key>username</key>
		<string>random.username</string>
		<key>password</key>
		<string>passWord@533</string>
	</dict>
</dict>
</plist>
