name: tvos_build_and_test
on:
  pull_request:
  workflow_dispatch:
concurrency:
  group: "${{ github.run_id }}"
  cancel-in-progress: true
jobs:
  build:
    runs-on: macos-15
    env:
      TEST_RUNNER_PIA_TEST_USER: ${{ secrets.PIA_ACCOUNT_USERNAME}}
      TEST_RUNNER_PIA_TEST_PASSWORD: ${{ secrets.PIA_ACCOUNT_PASSWORD }}
      TEST_RUNNER_PIA_TEST_DEDICATEDIP: ${{ secrets.PIA_TEST_DEDICATEDIP }}

    steps:
    - name: Setup Git credentials
      run: |
        git config --global url."https://${{ secrets.ORG_GITHUB_USERNAME }}:${{ secrets.ORG_GITHUB_TOKEN }}@github.com/".insteadOf "git@github.com:"

    - uses: actions/checkout@v3
    
    - name: Select XCode version
      run: sudo xcode-select -s /Applications/Xcode_16.2.0.app
    
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3.5

    - name: Install Fastlane
      run: gem install fastlane

    - name: Run tvOS unit tests
      run: bundle exec fastlane tvOStests

    - name: Run tvOS snapshot tests
      run: bundle exec fastlane tvos_snapshot_tests
    
    - name: Run tvOS e2e tests
      run: bundle exec fastlane tvos_e2e_tests
      timeout-minutes: 45


      
